.custom1{
    background-color: rgb(66, 66, 66);
}

.custom2{
    background-color: rgb(29, 29, 30);
    color: white;
}

body{
    background-color: gray;
}

.inputsitos{
    background-color: rgba(255, 255, 255, 0.614);
}



.ache1{
    padding: 1em;
}